/* You can add global styles to this file, and also import other style files */
body
  text-transform: uppercase
  text-align: center
  background: rgb(2,0,36)
  background: linear-gradient(0deg, rgba(2,0,36,1) 10%, rgba(105,104,104,1) 85%, rgba(172,172,172,1) 100%)
